#background {
    background-color: #f1f1f1;
    height: 60vh;
    min-height: 350px;
    width: 100%;
    margin: 0;
}

#root{
    height: 50vh;
    width: 70%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    margin-top: -9vh;
}

#cart{
    height: 60vh;
    margin-right: 5%;
    padding: 0;
}

.scrollbar-primary::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5; }

.scrollbar-primary::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #4285F4;
}

#details {
    height: 60vh;
    margin-left: 5%;
    padding: 0;
}

#allDetails{
    padding-left: 15%;
    padding-right: 15%;
}

#confirmPassword, #newPassword, #currentPassword{
    margin: auto;
    width: 8vw;
}

#submitButton{
    margin-top: 5%;
    max-width: 200px;
    width: 15vw;
}

.error-custom {
    word-wrap: anywhere;
    color: #e00000;
}

.success-custom{
    word-wrap: anywhere;
    color: #06c200;
}

#errorMessages {
    height: 40px;
    font-size: smaller;

}

#amountCol {
    max-height: 33%;
}

#amountDiv{
    margin-left: auto;
    width: 60%;
    padding: 1%;
    max-width: 100px;
    margin-right: 0 !important;
}



@media only screen and (max-width: 800px) {

    #confirmPassword, #newPassword, #currentPassword{
        margin: auto;
        width: 50vw;
    }
    #submitButton{
        width: 50vw;
        max-width: none;
        padding: 5% 0 5% 0;
    }

    #details{
        height: 65vh;
        min-height: 500px;
        margin-left: 5%;
        margin-right: 5%;
        min-width: 50%;
    }
    #root{
        margin-top: 2vh;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    #background{
        height: 170vh;
    }
    #cart{
        min-width: 50%;
        height: 80vh;
        max-height: none;
        margin-bottom: 10%;
        margin-left: 5%;
        margin-right: 5%;
    }


    #citiesCol{
        max-width: 40%;
    }

    .scrollbar-primary::-webkit-scrollbar {
        width: 3px;
        background-color: #F5F5F5; }

    .flight{
        padding-right: 0 !important;
    }
}

