#background {
    background-color: #f1f1f1;
    min-height: 70vh;
}

.error-custom {
    word-wrap: anywhere;
    color: #e00000;
}

#loginForm {
    margin-top: -9vh;
    margin-bottom: 2%;
}

@media only screen and (max-width: 800px) {
    #loginForm{
        margin-top: 1vh;
    }
}