#background {
    background-color: #f1f1f1;
    height: 50vh;
    min-height: 350px;
    width: 100%;
    margin: 0;
}

#root{
    height: 40vh;
    width: 70%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    margin-top: -9vh;
}

#details {
    border-radius: 10px;
    height: 55vh;
    margin-left: 5%;
    background-color: #e3e3e3;
    max-height: 400px;
}

#cart{
    border-radius: 10px;
    max-height: 400px;
    height: 55vh;
    margin-right: 5%;
    background-color: #cccbcb;
    padding-right: 0;
    padding-left: 0;
}
#headerCart {
    border-radius: 10px 10px 0px 0px;
    background-color: #e3e3e3;
    margin-bottom: 0;
}
#flights{
    height: 60%;
    background-color: #e3e3e3;

}

#summary{
    alignment: bottom;
    height: 4.5rem;

}
.flight{
    width: 90%;
    margin: auto;

}

#allDetails{
    width: 70%;
    margin: auto;
}

#confirmPassword, #newPassword, #currentPassword{
    margin: auto;
    width: 8vw;
}

#submitButton{
    margin-top: 5%;
    max-width: 200px;
    width: 15vw;
}
.error-custom {
    word-wrap: anywhere;
    color: #e00000;
}
.success-custom{
    word-wrap: anywhere;
    color: #06c200;
}


#errorMessages {
    height: 40px;
    font-size: smaller;

}

#amountCol {
    max-height: 33%;
}
#amountDiv{
    margin-left: auto;
    width: 60%;
    padding: 1%;
    max-width: 100px;
    margin-right: 0 !important;
}

@media only screen and (max-width: 800px) {

    #confirmPassword, #newPassword, #currentPassword{
        margin: auto;
        width: 50vw;
    }
    #submitButton{
        width: 50vw;
        max-width: none;
        padding: 5% 0 5% 0;
    }

    #details{
        height: 65vh;
        max-height: none;
        margin-left: 5%;
        margin-right: 5%;
    }
    #root{
        margin-top: 2vh;
        width: 100%;
        margin-left: 0;
        margin-right: 0;

    }

    #background{
        height: 170vh;
    }
    #cart{
        min-width: 50%;
        height: 80vh;
        max-height: none;
        margin-bottom: 10%;
        margin-left: 5%;
        margin-right: 5%;
    }

    #flights {
        height: 70%;
    }

    #citiesCol{
        max-width: 50%;
    }

}

