<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="../static/css/styleAdmin.css"/>
    <meta charset="UTF-8">
    <title>Admin page</title>
    <link th:href="@{/css/styleAdmin.css}" rel="stylesheet">
  <th:block th:replace="template :: links"/>
</head>
<body>
    <section th:replace="template :: header"></section>
    <section id="background">
        <div class="container-fluid" style="height: 100%">
            <div class="row" style="height: 100%">
                <div class="col" id="usersCol">
                    <table id="usersTable" class="table table-striped">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Username</th>
                            <th>Authority</th>
                            <th>Enable</th>
                            <th>Remove</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr th:each="user: ${users}">
                            <td th:text="${user.getId()}"></td>
                            <td th:text="${user.getUsername()}"></td>
                            <td th:text="${user.getAuthorities()}"></td>
                            <td>
                                <select class="form-select" aria-label="Default select example"
                                        th:onchange="'window.location.href = \'' + @{/admin/changeEnabled/{id}(id=${user.getId()})} + '\''">
                                    <option selected  th:text="${user.isEnabled()}"></option>
                                    <option th:text="${!user.isEnabled()}"></option>
                                </select>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal"
                                        data-bs-target="#removeUserModal">Remove</button>
                                <div class="modal fade" id="removeUserModal" tabindex="-1" aria-labelledby="removeUserModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="removeUserModalLabel">
                                                    Removing user <b><span th:text="${user.getUsername()}"></span></b>

                                                </h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                Are you sure that you want to remove this account?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                <a th:href="@{/admin/removeUser/{id}(id=${user.getId()})}">
                                                    <button type="button" class="btn btn-danger">Remove</button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>

                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col">
                    <table id="flightsTable" class="table table-striped">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Departure airport</th>
                            <th>Arrival airport</th>
                            <th>Departure date</th>
                            <th>Price</th>
                            <th>Company</th>
                            <th>Distance</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="flight: ${flights}">
                            <td th:text="${flight.getId()}"></td>
                            <td th:text="${flight.getDepartureAirport().getCode()}"></td>
                            <td th:text="${flight.getArrivalAirport().getCode()}"></td>
                            <td th:text="${#dates.format(flight.getDepartureDate(), 'YYYY-MM-dd HH:mm')}"></td>
                            <td th:text="${#numbers.formatDecimal(flight.getPrice(),1,2,'POINT')} + '$'"></td>
                            <td th:text="${flight.getCompany().getName()}"></td>
                            <td th:text="${flight.getDistance_km()} + 'km'"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

    </section>


    <footer th:replace="template :: footer"></footer>
    <script>
        $(document).ready(function () {
            $('#usersTable').DataTable();
        });
        $(document).ready(function () {
            $('#flightsTable').DataTable();
        });
    </script>

</body>
</html>