<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="../static/css/styleFlight.css"/>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/styleFlight.css}" rel="stylesheet">
    <th:block th:replace="template :: links"/>
</head>
<body>
<section th:replace="template :: header"></section>
    <section id="main">
        <div class="container" id="flightContainer">
            <div class="row text-center">
                    <h1 th:text="${flight.getCompany().getName()}"></h1>
            </div>

            <div class="row">
                <div class="col">
                    <div class="row" id="departureAirport">
                        <div class="col">
                            <h6 style="margin-bottom: 0" th:text="${#dates.format(flight.getDepartureDate(), 'HH:mm')} + ' ' +
                               ${flight.getDepartureAirport().getCity()} + ' (' + ${flight.getDepartureAirport().getCode()} + ')'"></h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" id="time">
                            <p class="align-middle" id="timeParagraph" th:text="${flight.getFlightTime().getHours()} + 'h' + ${flight.getFlightTime().getMinutes()} + 'min'"></p>
                        </div>
                    </div>
                    <div class="row" id="arrivalAirport">
                        <div class="col">
                            <h6 style="margin-bottom: 0" th:text="${#dates.format(flight.getArrivalDate(), 'HH:mm')} + ' ' +
                               ${flight.getArrivalAirport().getCity()} + ' (' + ${flight.getArrivalAirport().getCode()} + ')'"></h6>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="col text-end">
                        <span class="fw-bold" th:text="'Price: ' + ${#numbers.formatDecimal(flight.getPrice(),1,2,'POINT')} + '$'"></span>
                    </div>
                    <div class="col text-end">
                        <span th:text="'Flight number: ' + ${#strings.toUpperCase(#strings.substring(flight.getCompany().getName(),0,2))}
                        + ' ' + ${#numbers.formatInteger(flight.getId(),6)}"></span>
                    </div>
                    <div class="col text-end">
                        Carbon emissions estimate: 82 kg
                    </div>
                    <div class="col text-end">
                        <span th:text="'Averange legroom: ' + ${#numbers.formatDecimal(T(java.lang.Math).floor(T(java.lang.Math).random()*40 + 70),1,0)}
                        + 'cm'"></span>
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <div class="col">
                    <button class="btn btn-primary btn-lg">Take this flight!</button>
                </div>
            </div>
        </div>
        <div class="container text-center" id="buttonContainer">
            <button class="btn btn-outline-primary" onclick="history.back()">Back to flights</button>
        </div>

    </section>

    <footer th:replace="template :: footer"></footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
</body>
</html>