<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Flight Search Engine</title>
    <link th:href="@{/css/styleHome.css}" rel="stylesheet">
    <th:block th:replace="template :: links"/>
    <th:block th:replace="template :: meta"/>

</head>
<body>

    <section th:replace="template :: header"></section>

    <div id="search" class="card shadow-lg">
        <form method="post" th:action="@{/search}" th:object="${flightForm}" >
            <div class="row">
                <div id="departureDataListDiv" class="col">
                    <label for="departureDataList" class="form-label">Departure airport</label>
                    <input id="departureDataList" th:field="*{departureAirportCode}"  class="form-control"
                           list="departureDataListOptions" placeholder="Type airport...">

                    <datalist id="departureDataListOptions">
                        <label>
                            <select>
                                <option th:each="airport: ${airports}" th:value="${airport.code}" th:text="${airport.city}"> </option>
                            </select>
                        </label>
                    </datalist>
                </div>
                <div id="arrivalDataListDiv" class="col">
                    <label for="arrivalDataList" class="form-label">Arrival airport</label>
                    <input id="arrivalDataList" th:field="*{arrivalAirportCode}" class="form-control"
                           list="arrivalDataListOptions" placeholder="Type airport...">
                    <datalist id="arrivalDataListOptions">
                        <select>
                            <option th:each="airport: ${airports}" th:value="${airport.code}" th:text="${airport.city}"> </option>
                        </select>
                    </datalist>
                </div>
            </div>
            <div class="row" id="rowErrorSpaceAirport">
                <div class="col">
                    <label th:if="${#fields.hasErrors('departureAirportCode')}" th:errors="*{departureAirportCode}" class="error-custom"></label>
                </div>
                <div class="col">
                    <label th:if="${#fields.hasErrors('arrivalAirportCode')}" th:errors="*{arrivalAirportCode}" class="error-custom"></label>
                </div>
            </div>
            <div class="row">
                <div class="col text-center" id="colDepartureDate">
                    <label for="departureDate" class="form-label">Depart</label>
                    <input id="departureDate" th:field="*{departureDate}" class="form-control" type="date" />
                </div>
            </div>
            <div class="row" id="rowErrorSpaceDate">
                <div class="col text-center">
                    <label th:if="${#fields.hasErrors('departureDate')}" th:errors="*{departureDate}" class="error-custom"></label>
                </div>
            </div>
            <div class="row" id="rowDate">
                <div class="col d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary"  id="searchButton">Search</button>
                </div>
            </div>
        </form>
    </div>
    <section id="searchResult">
        <div class="container"  th:if="${departureAirport != null}">
           <h2 class="text-center" id="destinationHeader" th:text="${departureAirport.city} + ' - ' + ${arrivalAirport.city}"/>
            <p class="text-center" th:text="${dateToShow}"/>
        </div>
        <div class="container" th:unless="${departureAirport != null}">
            <div class="row text-center">
                <h2>
                    <span sec:authorize="isAuthenticated()">
                    Hello <span sec:authentication="name"></span> :)
                </span>
                </h2>
            </div>
            <div class="row text-center" >
                <h1>
                    Find your dream flight!
                </h1>
            </div>
            <div class="row text-center" id="flightImageRow">
                    <img src="/images/flightSearch.png" alt="flight search image"/>
            </div>
            </h1>
        </div>
        <a  th:href="'/flight/' + ${flight.getId()}"  th:each="flight: ${flights}">
        <div  class="container" id="flightContainer">
            <div class="row text-center">
                <div class="col">
                    <h2 th:text="${flight.getCompany().getName()}"/>
                </div>
            </div>
            <div class="row">
                <div class="col text-center col-flight-code">
                    <h5 class="time" th:text="${#dates.format(flight.getDepartureDate(), 'HH:mm')}"/>
                    <p th:text="${flight.getDepartureAirport().getCode()}"/>
                </div>
                <div class="col-8" id="col-divider">
                    <hr class="divider">
                </div>
                <div class="col text-center col-flight-code">
                    <h5 class="time" th:text="${#dates.format(flight.getArrivalDate(), 'HH:mm')}" />
                    <p th:text="${flight.getArrivalAirport().getCode()}"/>
                </div>
            </div>
            <div class="row text-center">
                <div class="col">
                    <p class="fs-6" th:text="${#numbers.formatDecimal(flight.getPrice(),1,2,'POINT')} + '$ | ' +  ${flight.getFlightTime().getHours()} + 'h' +
                    ${flight.getFlightTime().getMinutes()} + 'min | ' + 'non-stop'" />
                </div>
            </div>
        </div>
        </a>
        <div th:if="${departureAirport != null and flights.isEmpty()}" class="container">
                <h1 class="text-center">oops we couldn't find your flight :(</h1>
        </div>
    </section>
    <footer th:replace="template :: footer"></footer>



</body>
</html>