<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<!--    <link rel="stylesheet" type="text/css" href="../static/css/styleHome.css"/>-->
    <link rel="stylesheet" type="text/css" href="../static/css/styleHome.css"/>
    <meta charset="UTF-8">
    <title>Flight Search Engine</title>
    <link th:href="@{/css/styleHome.css}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

</head>
<body>
    <section id="logo" th:style="'background-image: url(/images/vacation_banner.jpg)'">
        <div id="search" class="container">
            <form method="post" th:action="@{/}" th:object="${flightForm}" >
                <div class="row">
                    <div id="departureDataListDiv" class="col">
                        <label for="departureDataList" class="form-label">Departure airport</label>
                        <input id="departureDataList" th:field="*{departureAirportCode}" class="form-control"
                               list="departureDataListOptions" placeholder="Type airport...">
                        <datalist id="departureDataListOptions">
                            <label>
                                <select >
                                    <option th:each="airport: ${airports}" th:value="${airport.code}" th:text="${airport.city}"> </option>
                                </select>
                            </label>
                        </datalist>
                    </div>
                    <div id="arrivalDataListDiv" class="col">
                        <label for="arrivalDataList" class="form-label">Arrival airport</label>
                        <input id="arrivalDataList" th:field="*{arrivalAirportCode}" class="form-control"
                               list="arrivalDataListOptions" placeholder="Type airport...">
                        <datalist id="arrivalDataListOptions">
                            <select>
                                <option th:each="airport: ${airports}" th:value="${airport.code}" th:text="${airport.city}"> </option>
                            </select>
                        </datalist>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <label for="departureDate">Depart</label>
                        <input id="departureDate" th:field="*{departureDate}" class="form-control" type="date" />
                    </div>
                    <div class="col">
                        <label for="arrivalDate">Return</label>
                        <input id="arrivalDate" th:field="*{returnDate}" class="form-control" type="date" />
                    </div>
                </div>
                <div class="row">
                    <div class="col d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary"  id="searchButton">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <section id="searchResult">
        <div class="container">
           <h2><p class="text-center" id="destinationHeader">Warsaw - Berlin</p></h2>
                <p class="text-center">Monday, February 3</p>
        </div>
        <div class="container" id="flightContainer">
            <div class="row">
                <div class="col-md-auto">
                    <h2>RyanAir</h2>
                </div>
                <div class="col-md-auto">
                    <h5 class="hour">16:20</h5>
                    <p>WAW</p>
                </div>
                <div class="col">
                    <hr class="divider">
                </div>
                <div class="col-md-auto">
                    <h5 class="hour">19:20</h5>
                    <p>BGY</p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col">
                    <p class="fs-6">720$ | 1h15min | non-stop</p>
                </div>
            </div>
        </div>
    </section>
    <footer class="text-center text-lg-start bg-light text-muted">

        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
            <div class="row justify-content-md-center">
                <div class="col-md-auto">
                    <a href="#">
                        <i class="bi bi-linkedin"></i>
                    </a>
                </div>
                <div class="col-md-auto">
                    <a href="#">
                        <i class="bi bi-github"></i>
                    </a>
                </div>
            </div>
            Rafal Wisniewski 2022
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>


</body>
</html>