<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="../static/css/styleProfile.css"/>
    <link th:href="@{/css/styleProfile.css}" rel="stylesheet">
    <th:block th:replace="template :: links"/>
    <title>Profile</title>
    <th:block th:replace="template :: meta"/>

</head>
<body>
<section th:replace="template :: header"></section>
<section id="background">
    <div class="container" id="root">
        <div class="row">
            <div class="col text-center card shadow-lg" id="cart">
                <div class="card-title">
                    <h1 class="display-4">Cart</h1>
                </div>
                <div class="card-body overflow-auto text-center scrollbar-primary">
                    <div class="container flight" th:each="flight: ${flights}">
                        <div class="row text-center">
                            <div class="col text-center">
                                <span th:text="${flight.getCompany().getName()}"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col text-start">
                                <span th:text="${flight.getDepartureAirport().getCode()}"></span>
                                ->
                                <span th:text="${flight.getArrivalAirport().getCode()}"></span>
                            </div>
                            <div class="col text-end">
                                <span th:text="${#numbers.formatDecimal(flight.getPrice(),1,2,'POINT')}"></span>$
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 text-start" id="citiesCol">
                               <span th:text="${flight.getDepartureAirport().getCity()}"></span>
                                ->
                                <span th:text="${flight.getArrivalAirport().getCity()}"></span>
                            </div>
                            <div class="col text-end" id="amountCol">

                                <div class="input-group" id="amountDiv">
                                    <a th:href="@{/removeFromCart/{flightId}(flightId=${flight.getIdFromCart()})}">
                                        <button type="button" class="btn btn-danger btn-number btn-sm">
                                                <i class="bi bi-dash-lg"></i>
                                        </button>
                                    </a>
                                    <input  type="text" name="quant[2]" class="form-control form-control-sm input-number" th:value="${flight.getAmount()}" disabled>
                                    <a th:href="@{/addToCart/{flightId}(flightId=${flight.getId()})}">
                                        <button type="button" class="btn btn-success btn-number btn-sm">
                                            <i class="bi bi-plus-lg"></i>
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col text-start">
                                <span style="margin-bottom: 0" th:text="${#dates.format(flight.getArrivalDate(), 'dd-MM-yyyy HH:mm')}"></span>
                            </div>
                            <div class="col text-end">

                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
                <div id="summary" class="card-footer border-0 mt-auto">
                    <div class="row text-center">
                        <div class="col">
                            <h6 th:text="'Total: ' + ${#numbers.formatDecimal(sum,1,2,'POINT')} + '$'"></h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button class="btn btn-primary btn-lg">Buy tickets!</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col text-center card shadow-lg" id="details">
                <div class="card-title">
                    <h1 class="display-4">User Details</h1>
                </div>
                <div class="container card-body" id="allDetails">
                    <div class="row">
                        <div class="col text-start">
                            <h5>Username:</h5>
                        </div>
                        <div class="col">
                            <h5 th:text="${#authentication.getName()}"></h5>
                        </div>
                    </div>
                    <div class="row">
                        <form method="post" th:action="@{/changePassword}" th:object="${password}">
                            <div class="row text-center">
                                <label for="currentPassword">Current Password:</label>
                                <input id="currentPassword" class="form-control" name="password"
                                       th:field="*{oldPassword}" type="password">
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="newPassword">New Password:</label>
                                    <input id="newPassword" class="form-control"
                                           th:field="*{newPassword}" type="password">

                                </div>

                                <div class="col">
                                    <label for="confirmPassword">Confirm:</label>
                                    <input id="confirmPassword" class="form-control"
                                           th:field="*{confirmPassword}" type="password">
                                </div>

                            </div>
                            <div class="row">
                                <div class="col text-center">
                                    <button id="submitButton" type="submit" class="btn btn-primary btn-lg">Change password</button>
                                </div>
                                <div id="errorMessages">
                                    <label th:if="${errorMessage}"th:text="${errorMessage}" class="error-custom"></label>
                                    <label th:if="${successMessage}" th:text="${successMessage}" class="success-custom"></label>
                                    <label th:if="${#fields.hasAnyErrors()}" th:text="${#fields.allErrors().get(0)}" class="error-custom"/>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card-footer border-0 mt-auto">
                    <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal"
                            data-bs-target="#removeUserModal">Remove account</button>
                    <div class="modal fade" id="removeUserModal" tabindex="-1" aria-labelledby="removeUserModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">
                                        Removing user <b><span th:text="${#authentication.getName()}"></span></b>

                                    </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Are you sure that you want to remove this account?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <a th:href="@{/removeUser}">
                                        <button type="button" class="btn btn-danger">Remove</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer th:replace="template :: footer"></footer>
</body>
</html>