<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="../static/css/styleProfile.css"/>
    <link th:href="@{/css/styleProfile.css}" rel="stylesheet">
    <th:block th:replace="template :: links"/>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
<section th:replace="template :: header"></section>
<section id="background">
    <div class="container" id="root">
        <div class="row">
            <div class="col text-center" id="details">
                <h1 class="display-4">
                    User Details</h1>
                <div class="container" id="allDetails">
                    <div class="row">
                        <div class="col text-start">
                            <h5>Username:</h5>
                        </div>
                        <div class="col">
                            <h5 th:text="${#authentication.getName()}"></h5>
                        </div>
                    </div>
                    <div class="row">
                        <form method="post" th:action="@{/changePassword}" th:object="${password}">
                            <div class="row text-center">
                                    <label for="currentPassword">Current Password:</label>
                                    <input id="currentPassword" class="form-control" name="password"
                                           th:field="*{oldPassword}" type="password">
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="newPassword">New Password:</label>
                                    <input id="newPassword" class="form-control"
                                           th:field="*{newPassword}" type="password">

                                </div>

<!--                            </div>-->
<!--                            <div class="row">-->
                                <div class="col">
                                    <label for="confirmPassword">Confirm Password:</label>
                                    <input id="confirmPassword" class="form-control"
                                           th:field="*{confirmPassword}" type="password">
                                </div>

                            </div>
                            <div class="row">
                                <div class="col text-center">
                                    <button id="submitButton" type="submit" class="btn btn-primary btn-lg">Change password</button>
                                </div>
                                <div id="errorMessages">
                                    <label th:if="${errorMessage}"th:text="${errorMessage}" class="error-custom"></label>
                                    <label th:if="${successMessage}" th:text="${successMessage}" class="success-custom"></label>
                                    <label th:if="${#fields.hasAnyErrors()}" th:text="${#fields.allErrors().get(0)}" class="error-custom"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <a th:href="@{/removeUser}">
                                        <button type="button" class="btn btn-danger btn-sm">Remove account</button>
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
            <div class="col text-center" id="cart">
                <h1 class="display-4" id="headerCart">Cart</h1>
                <div id="flights" class="overflow-auto text-center">
                    <div class="container flight" th:each="flight: ${flights}">
                        <div class="row text-center">
                            <div class="col text-center">
                                <span th:text="${flight.getCompany().getName()}"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col text-start">
                                <span th:text="${flight.getDepartureAirport().getCode()}"></span>
                                ->
                                <span th:text="${flight.getArrivalAirport().getCode()}"></span>
                            </div>
                            <div class="col">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 text-start ">
                               <span th:text="${flight.getDepartureAirport().getCity()}"></span>
                                ->
                                <span class="overflow-visible" th:text="${flight.getArrivalAirport().getCity()}"></span>
                            </div>
                            <div class="col"></div>
                            <div class="col-sm-3 text-end price">
                                <span th:text="${#numbers.formatDecimal(flight.getPrice(),1,2,'POINT')}"></span>$
                            </div>
                        </div>
                        <div class="row">
                            <div class="col text-start">
                                <span style="margin-bottom: 0" th:text="${#dates.format(flight.getArrivalDate(), 'HH:mm')} + ' ' +
                               ${flight.getArrivalAirport().getCity()} + ' (' + ${flight.getArrivalAirport().getCode()} + ')'"></span>
                            </div>
                            <div class="col text-end">
                                <a th:href="@{/removeFromCart/{flightId}(flightId=${flight.getIdFromCart()})}">
                                    <button type="button" class="btn btn-outline-primary btn-sm">remove</button>
                                </a>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
                <div id="summary">
                    <div class="row text-center">
                        <div class="col">
                            <h6 th:text="'Total: ' + ${#numbers.formatDecimal(sum,1,2,'POINT')} + '$'"></h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button class="btn btn-primary btn-lg">Buy tickets!</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer th:replace="template :: footer"></footer>
</body>
</html>